div {
    padding: 0%;
}

.main {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgb(243, 243,  243);
}

.sortFilterBox {
    position: sticky;
    top: 0vh;
    left: 0%;
    min-height: 92vh;
    width: 18%;
    padding: 2vh;
}

.contentBox {
    position: absolute;
    top: 0vh;
    left: 18%;
    min-height: 92vh;
    width: 82%;
    padding: 2vh 1vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
    background-color: rgb(243, 243,  243);
}

.contentBox::-webkit-scrollbar {
    width: 1vw;
}

.contentBox::-webkit-scrollbar-thumb {
    background-color: rgb(37, 52, 71);
    border-radius: 0.5vw;
}

.contentBoxItem {
    height: 55vh;
    width: 50%;
    padding: 1.5vh;
}

.content {
    height: 100%;
    width: 100%;
    background-color: white;
    border: 0.1vh solid rgb(220, 220, 220);
    border-radius: 0.4vw;
}

.contentHeader {
    height: calc(35% - 2vh);
    width: calc(100% - 4vh);
    margin: 2vh;
    margin-bottom: 0vh;
    padding-bottom: 1vh;
    border-bottom: 0.1vh solid rgb(220, 220, 220);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.imageBox {
    width: 20%;
    height: 100%;
}

.imageBox img {
    height: 100%;
    width: 100%;
    border-radius: 0.2vw;
}

.mainDetailsBox {
    width: 80%;
    height: 100%;
    padding-left: 1vw;
}

.resName {
    font-size: 1.4vw;
    font-weight: bolder;
    color: rgb(37, 52, 71);
    transform: scaleY(1.2);
}

.resRatings {
    height: 1.5vh;
    font-size: 0.9vw;
    color: darkgray;
    margin-bottom: 3vh;
}

.starIcon {
    color: gold;
}

.resLocality {
    font-size: 1vw;
    font-weight: bolder;
}

.contentBody {
    height: 50%;
    width: 100%;
    font-size: 1vw;
    padding: 1.5vh 1vw;
    border-bottom: 0.1vh solid rgb(220, 220, 220);
}

.contentBody table {
    width: 100%;
    height: 100%;
}

.title {
    color: darkgray;
    width: 20%;
    font-size: 0.9vw;
}

.info {
    width: 80%;
    font-size: 0.9vw;
    padding-left: 1vw;
}

.contentFooter {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contentButtonCall, .contentButtonOrder {
    height: 100%;
    width: 33%;
    font-size: 1vw;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentButtonCall {
    color: rgb(80, 80, 80);
    border-right: 0.1vh solid rgb(220, 220, 220);
}

.contentButtonCall:hover {
    background-color: rgb(245, 245, 245);
}

.contentButtonOrder {
    color: white;
    background-color: rgb(9, 128, 68);
}

.contentButtonOrder:hover {
    background-color: rgb(9, 158, 68);
}

.callIcon {
    font-size: 1vw;
    color: rgb(80, 80, 80);
}

.cartIcon {
    font-size: 1vw;
    color: white;
}