<div class="main">
    <div class="contentBox">
        <!-- {{zomatoAreaSearchResults.nearby_restaurants[0].restaurant.name}}
        <br>
        {{zomatoAreaSearchResults.nearby_restaurants[0].restaurant.location.address}}
        <br>
        {{zomatoAreaSearchResults.nearby_restaurants[0].restaurant.location.locality}}
        <br>
        {{zomatoAreaSearchResults.nearby_restaurants[0].restaurant.cuisines}}
        <br>
        {{zomatoAreaSearchResults.nearby_restaurants[0].restaurant.currency}}{{zomatoAreaSearchResults.nearby_restaurants[0].restaurant.average_cost_for_two}}
        <br>
        {{zomatoAreaSearchResults.nearby_restaurants[0].restaurant.offers}}
        <br>
        {{zomatoAreaSearchResults.nearby_restaurants[0].restaurant.thumb}}
        <br>
        {{zomatoAreaSearchResults.nearby_restaurants[0].restaurant.user_rating | json}}
        <br>
        {{zomatoAreaSearchResults.nearby_restaurants[0].restaurant.menu_url}} -->
        <div class="contentBoxItem" *ngFor="let restaurant of zomatoLoadingRestaurants?.restaurantList">
            <div class="content">
                <div class="contentHeader">
                    <div class="imageBox">
                        <img src="{{restaurant.restaurant.thumb}}" alt="Restaurant Image">
                    </div>
                    <div class="mainDetailsBox">
                        <div class="resName">{{ restaurant.restaurant.name }}</div>
                        <div class="resRatings">
                            <fa-icon class="starIcon" [icon]="faStarIcon"></fa-icon> {{ restaurant.restaurant.user_rating.aggregate_rating }} ({{ restaurant.restaurant.user_rating.votes }} reviews) 
                        </div>
                        <div class="resLocality">
                            {{ restaurant.restaurant.location.locality }}
                        </div>
                    </div>
                </div>
                <div class="contentBody">
                    <table>
                        <tr>
                            <td class="title">Cuisine:</td>
                            <td class="info">{{ restaurant.restaurant.cuisines }}</td>
                        </tr>
                        <tr>
                            <td class="title">Cost for two:</td>
                            <td class="info">{{ restaurant.restaurant.currency }}{{ restaurant.restaurant.average_cost_for_two }}</td>
                        </tr>
                        <tr>
                            <td class="title">Address:</td>
                            <td class="info">{{ restaurant.restaurant.location.address }}</td>
                        </tr>
                    </table>
                </div>
                <div class="contentFooter">
                    <div class="contentButtonCall">
                        <span>Call</span>&nbsp;<fa-icon class="callIcon" [icon]="faCallIcon"></fa-icon>
                    </div>
                    <div class="contentButtonOrder">
                        <fa-icon class="cartIcon" [icon]="faCartIcon"></fa-icon>&nbsp;<span>Order</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>