<div class="main">
  <div class="appContainer">
    <div id="appNavbar">
      <div class="appNavbarLogo"></div>
      <div class="appNavbarCard">
        <span routerLink="/restaurants" style="color: white; font-size: 1.6vw; padding-left: 2vw;">View</span>
      </div>
    </div>
    <div id="appBody">
      <div class="appHeader row">
        <fa-icon *ngIf="!navbarExpanded" class="appHeadIcon" [icon]="faChevronCircleRightIcon" (click)="expand()">
        </fa-icon>
        <fa-icon *ngIf="navbarExpanded" class="appHeadIcon" [icon]="faChevronCircleLeftIcon" (click)="collapse()">
        </fa-icon>
        <div class="title">
          <div>Food Zone</div>
        </div>
      </div>
      <div class="appBodyContent">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>